html{
  font-family: sans-serif;
}
a{
  text-decoration: none;
  font-family: sans-serif;
}
#barChart{
    width:600px;
    height:300px;
    position:absolute;
    left:60px;
    padding:0px;
}
#graph{
  width:100%;
  height:100%;
  position: absolute;
  z-index:1;
}

.bar rect {
  fill: rgb(81, 202, 223);
}
.domain{
  stroke:steelblue;
}
.bar text {
  fill: black;
  font: 9px sans-serif;
}
line{
  stroke:steelblue;
}
